<a href="https://colab.research.google.com/github/Shivauppe/Data_science_python/blob/main/Datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Structure is a way of organising and storing the Data so that it can be accessed and manipulated effectively**

In [ ]:
a = "Shivanand"
type(a)

str

list, Dictionary,Set, tuples,Array

In [ ]:
#List

A = [1,2,3,-4,0,"Shivanand"]

A[0]

1

In [ ]:
#List is mutable

A[1] = 5
A

[1, 5, 3, -4, 0, 'Shivanand']

In [ ]:
#Adding one more item to the list

A.append("Shivanand")
# A.remove("Shivanand")
A

[1, 5, 3, -4, 0, 'Shivanand']

In [ ]:
#remove item from list

A.remove("Shivanand")
A

[1, 5, 3, -4, 0]

In [ ]:
B = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]

# B.append(12) #adds the item at the end of list
# B.remove(12) # removes the specified item
B.reverse() # reverses the order from last to first
B

[(10, 11, 12), (7, 8, 9), (4, 5, 6), (1, 2, 3)]

In [ ]:
B[1:3] #Including 1st Index and excluding 3 Index

[(7, 8, 9), (4, 5, 6)]

In [ ]:
B[0][2] #accesing the 2d array

12

In [ ]:
list_shopping = ['Apple','Samsung','Oppo','Oneplus']
for item in list_shopping:
  print(item, end = " ")

Apple Samsung Oppo Oneplus

In [ ]:
##############################################################################
#Tuple#
##############################################################################

point= (2,3)
# point
type(point)

tuple

In [ ]:
#tuple real time examples
tup = (1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

In [ ]:
#Can store heterogeneous Data in Tuple

a = ('shivanand',1+2j,2.3)
a

('shivanand', (1+2j), 2.3)

In [ ]:
#tuple can be access but cant be altered.
a[0]

'shivanand'

In [ ]:
#type of a

type(a)

tuple

In [ ]:
#tuples are immutable
a[0] = 'Shivanand1'
a

TypeError: 'tuple' object does not support item assignment

In [ ]:
#multiple tuples
A = (9,10,11,12)
B = (13,14,15,16)
C = (A,B)
# C
# A + (B)

for i1 in C:
    print(i1,end = " ")

(9, 10, 11, 12) (13, 14, 15, 16)

### **Set is unordered collection of unique elements**

In [ ]:
s = {1,2,'Shivanand',1.2,1+2j}
# s
type(s)

set

In [ ]:
#Sets are non indexable

S = {1,2,2,2,2,3,3,3,3,3,3,4,5,6}
# S[0] -- throws error
S

{1, 2, 3, 4, 5, 6}

In [ ]:
#in SET Syou can add elements and remove elements - it makes Immutable

#use case - get the unique elements

# S.add(7)
S.remove(7)
S

{1, 2, 3, 4, 5, 6}

In [ ]:
#application of SETS

groceries_list = {"Banana","Apple","Orange","Banana"}
groceries_list

{'Apple', 'Banana', 'Orange'}

### **Dictionary - Data is stored in the form of key pair**

In [ ]:
my_dict = {}
my_dict

{}

In [ ]:
my_dict = {'Coursname' : 'Python', 'Rating' : 4.9}
my_dict

{'Coursname': 'Python', 'Rating': 4.9}

In [ ]:
my_dict = {'College_name' : 'Dr.AIT','Location' : 'Bangalore','Stream' : 'Computer Science'}

my_dict

{'College_name': 'Dr.AIT',
 'Location': 'Bangalore',
 'Stream': 'Computer Science'}

In [ ]:
phone_book = {'Akash' : 9742429833,'Shivanand' : 9732232323}
phone_book['Akash']

9742429833

In [ ]:
phone_book.keys()

dict_keys(['Akash', 'Shivanand'])

In [ ]:
phone_book.values()

dict_values([9742429833, 9732232323])

In [ ]:
#ASCII

Char = "A"
ord(Char)

65

In [ ]:
ord('a')

97

In [ ]:
chr(65)

'A'

In [ ]:
#UNICODE Representation -- oemga, sigma and some special character can be stored using some unique value

#String!

a = "i'm a string"
a

"i'm a string"

In [ ]:
A = '''I am string
i have to concatenate multiple lines'''
A

'I am string\ni have to concatenate multiple lines'

In [ ]:
str_a = ''' A string "can" be written like this '''
str_a

' A string "can" be written like this '

In [ ]:
#Concatenation of 2 strings.
a = 'am a string-1'
b = 'am second string'

c = a + " " + b
c

'am a string-1 am second string'

In [ ]:
'hello' + ' world'

'hello world'

In [ ]:
abs = 'Navodayan'
abs[3:6]

'oda'

In [ ]:
length = len(abs)
length

9

In [ ]:
abs[:-1]

'Navodaya'

In [ ]:
abs[:-8]

'N'

In [ ]:
a = "apt"
a.replace("apt","apartment")

'apartment'

In [ ]:
A = "BRB,TTLY"
A.replace("BRB","Be right back").replace("TTLY","Talk to you later")

'Be right back,Talk to you later'

In [ ]:
a = "hello World !"
# a.lower() #hello world !
a.upper() #HELLO WORLD !
# a.capitalize() #Hello world !
# a.title() #Hello World !
# a.swapcase() #HELLO wORLD !

'HELLO WORLD !'

In [ ]:
#Search in string

String = "I am a professsional Software Engineer"

"software" in String

False

In [ ]:
Search = "I am Navodayan"
search_word = "navodayan"

if search_word in Search:
  print("Found successfully - 1")
elif search_word.lower() in Search.lower():
  print("Found successfully - 2")
elif search_word.upper() in Search.upper():
  print("Found successfully - 3")
else:
  print("Not Found")

Found successfully - 2

In [ ]:
#Check validation rule for email

Email = 'Shivauppe@gmail.com'
if '@' in Email and '.com' in Email:
  print("Valid Email and enter the password")
else:
  print("Invalid Email")

Valid Email and enter the password

In [ ]:
#Sort

a = ["Shiva","Anusha","Pooja","Anushka"]
sorted(a)

['Anusha', 'Anushka', 'Pooja', 'Shiva']

In [1]:
#string format
name = "Shivanand"
greetings = f"Hello {name}, How are you ?"
greetings

'Hello Shivanand, How are you ?'

In [2]:
playlist = []
playlist.append("Ae mere watan ke logo")
playlist.append("jara aashiqui")
playlist.append("Raabta")
print(playlist)

['Ae mere watan ke logo', 'jara aashiqui', 'Raabta']

In [3]:
#list is mutable
a = [1,2,3,"AAAAAA","BBBBBB"]
a[3] = "Shivanand"
a

[1, 2, 3, 'Shivanand', 'BBBBBB']

In [6]:
# a.insert(0,"Anand")
a

['Anand', 'Anand', 1, 2, 3, 'Shivanand', 'BBBBBB']

In [7]:
#extend - append two lists

a = [1,2,3]
b = [4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [8]:
a = ["Jai shree Ram","Jai Shree Ram","Jai Shree Ram"]
a.count("Jai Shree Ram")

2

In [9]:
A = ["Shivanand is powerfull Developer"]
A.index("Shivanand is powerfull Developer")

0

In [10]:
A = ["Shivanand is powerfull Developer"]
A.pop()

'Shivanand is powerfull Developer'

In [11]:
A

[]

In [12]:
A = ["Shivanand is powerfull Developer"]
A.remove("Shivanand is powerfull Developer")
A

[]

In [13]:
#check given string is empty or not, if empty add a string using input else keep by default
a = ""
if not a:
  a = input("Enter the string")
a

Enter the stringShiva

'Shiva'

In [14]:
#type

type(a)

str

In [16]:
my_list = [1,2,3,4,5]
my_fav_list = [10,20,30,40,50]

# my_list + my_fav_list
my_list.extend(my_fav_list)
my_list

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [21]:
#repetation operator

"     1   " * 2

'     1        1   '

In [24]:
'**' * 10

'********************'

In [28]:
Msg = "Alaram tick tok \n"
print(Msg * 8)
# print(Msg)

Alaram tick tok
Alaram tick tok
Alaram tick tok
Alaram tick tok
Alaram tick tok
Alaram tick tok
Alaram tick tok
Alaram tick tok

In [36]:
#Check the list

Mobiles = ["Apple","Samsung","Oppo","Oneplus"]
for i in Mobiles:
  print(i,end = " ")

Apple Samsung Oppo Oneplus

In [44]:
#shallow copy and deep copy

#shallow copy --> Value will change with change in other list
# Mobiles
Mobiles_copy = Mobiles
# Mobiles_copy

# Mobiles_copy[0] = "Nokia"
Mobiles

['Nokia', 'Samsung', 'Oppo', 'Oneplus']

In [52]:
#shallow copy --> Value will change with change in other list

Mobiles[0] = "Oppo"
# Mobiles

Mobiles_copy

['Oppo', 'Samsung', 'Oppo', 'Oneplus']

In [53]:
#deep copy -- > will not change the value in another list

Mobiles_copy1 = Mobiles.copy()
Mobiles_copy1

['Oppo', 'Samsung', 'Oppo', 'Oneplus']

In [55]:
Mobiles_copy1[0] = "Nokia"
# Mobiles_copy1
Mobiles_copy

['Oppo', 'Samsung', 'Oppo', 'Oneplus']