<a href="https://colab.research.google.com/github/Shivauppe/Data_science_python/blob/main/Datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Structure is a way of organising and storing the Data so that it can be accessed and manipulated effectively**

In [ ]:
a = "Shivanand"
type(a)

str

list, Dictionary,Set, tuples,Array

In [ ]:
#List

A = [1,2,3,-4,0,"Shivanand"]

A[0]

1

In [ ]:
#List is mutable

A[1] = 5
A

[1, 5, 3, -4, 0, 'Shivanand']

In [ ]:
#Adding one more item to the list

A.append("Shivanand")
# A.remove("Shivanand")
A

[1, 5, 3, -4, 0, 'Shivanand']

In [ ]:
#remove item from list

A.remove("Shivanand")
A

[1, 5, 3, -4, 0]

In [ ]:
B = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]

# B.append(12) #adds the item at the end of list
# B.remove(12) # removes the specified item
B.reverse() # reverses the order from last to first
B

[(10, 11, 12), (7, 8, 9), (4, 5, 6), (1, 2, 3)]

In [ ]:
B[1:3] #Including 1st Index and excluding 3 Index

[(7, 8, 9), (4, 5, 6)]

In [ ]:
B[0][2] #accesing the 2d array

12

In [ ]:
list_shopping = ['Apple','Samsung','Oppo','Oneplus']
for item in list_shopping:
  print(item, end = " ")

Apple Samsung Oppo Oneplus

In [ ]:
##############################################################################
#Tuple#
##############################################################################

point= (2,3)
# point
type(point)

tuple

In [ ]:
#tuple real time examples
tup = (1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

In [ ]:
#Can store heterogeneous Data in Tuple

a = ('shivanand',1+2j,2.3)
a

('shivanand', (1+2j), 2.3)

In [ ]:
#tuple can be access but cant be altered.
a[0]

'shivanand'

In [ ]:
#type of a

type(a)

tuple

In [ ]:
#tuples are immutable
a[0] = 'Shivanand1'
a

TypeError: 'tuple' object does not support item assignment

In [ ]:
#multiple tuples
A = (9,10,11,12)
B = (13,14,15,16)
C = (A,B)
# C
# A + (B)

for i1 in C:
    print(i1,end = " ")

(9, 10, 11, 12) (13, 14, 15, 16)

### **Set is unordered collection of unique elements**

In [ ]:
s = {1,2,'Shivanand',1.2,1+2j}
# s
type(s)

set

In [ ]:
#Sets are non indexable

S = {1,2,2,2,2,3,3,3,3,3,3,4,5,6}
# S[0] -- throws error
S

{1, 2, 3, 4, 5, 6}

In [ ]:
#in SET Syou can add elements and remove elements - it makes Immutable

#use case - get the unique elements

# S.add(7)
S.remove(7)
S

{1, 2, 3, 4, 5, 6}

In [ ]:
#application of SETS

groceries_list = {"Banana","Apple","Orange","Banana"}
groceries_list

{'Apple', 'Banana', 'Orange'}

### **Dictionary - Data is stored in the form of key pair**

In [ ]:
my_dict = {}
my_dict

{}

In [ ]:
my_dict = {'Coursname' : 'Python', 'Rating' : 4.9}
my_dict

{'Coursname': 'Python', 'Rating': 4.9}

In [ ]:
my_dict = {'College_name' : 'Dr.AIT','Location' : 'Bangalore','Stream' : 'Computer Science'}

my_dict

{'College_name': 'Dr.AIT',
 'Location': 'Bangalore',
 'Stream': 'Computer Science'}

In [ ]:
phone_book = {'Akash' : 9742429833,'Shivanand' : 9732232323}
phone_book['Akash']

9742429833

In [ ]:
phone_book.keys()

dict_keys(['Akash', 'Shivanand'])

In [ ]:
phone_book.values()

dict_values([9742429833, 9732232323])