<a href="https://colab.research.google.com/github/Shivauppe/Data_science_python/blob/main/Functions_%26_Oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
math.ceil(9.09)

10

In [ ]:
math.floor(9.09)

9

In [ ]:
#functions -
# Block of code which performs some specif task. , can be reused # inbuilt functions && user defined functions
#sample function to demonstrate in python
def add(a,b):
    return a+b

add(10,20)

30

In [ ]:
#function for greetings

def greetings():
    print("Welcome to Data Science")

greetings()

Welcome to Data Science

In [ ]:
def greetings(name):
    print("Welcome to Data Science",name)

greetings("Shivanand")

Welcome to Data Science Shivanand

In [ ]:
def fun():
    return "Hello",1,2.5,True

fun()

('Hello', 1, 2.5, True)

In [ ]:
a,b,c,d = fun()

In [ ]:
a

'Hello'

In [ ]:
b

1

In [ ]:
c

2.5

In [ ]:
d

True

In [ ]:
def square_no(a):
    return a**2

square_no(5)

25

In [ ]:
square_no(19)

361

In [ ]:
def addition(a,b):
  return a+b
  # print("Addition of 2nos is : " ,addition())
addition(10,30)

40

In [ ]:
addition("10","30") ## string concatenate

'1030'

In [ ]:
addition([1,2,3],[4,5,6]) ##union for sets

[1, 2, 3, 4, 5, 6]

In [ ]:
#params switching
def addition(a,b):
  return a+b
  # print("Addition of 2nos is : " ,addition())
addition(b=10,a=30)

40

In [ ]:
def addition1(x1,x2):
  return x2+x1

addition1('uppe','Shiva')

'Shivauppe'

In [ ]:
#defualt arguments
def addition(a=10,b=20):
  return a+b
addition()

30

In [ ]:
# defualt param will be at the last arguments

def addition_1(b,a=0):
  return a+b

addition_1(11)

11

In [ ]:
def sum(a=5, b=0, c=0):
  return a+b+c

sum(b = 10, c = 20)

35

In [ ]:
#user defined inputs

def sum2():
  a = int(input("Enter 1st no : "))
  b = int(input("Enter 2nd no : "))
  return a+b

sum2()

Enter 1st no : 12
Enter 2nd no : 2

14

In [ ]:
#write a function that takes list as input and return all numeric values
def list_num(a):
  n = []
  for i in a:
    if type(i) == int or type(i) == float:
      n.append(i)
  return n

list_num([1,2.2,'Shivanand',1.0908])

[1, 2.2, 1.0908]

In [ ]:
#write a function that takes nested list as input and should returns only numeric

def only_numeric(a):
  n = []
  for i in a:
    if type(i) == list:
      for j in i:
        if type(j) == int or type(j) == float:
          n.append(j)
    else:
      if type(i) == int or type(i) == float:
        n.append(i)
  return n;

only_numeric([0,2,'Shiva',9.0,True,3,[4,'Uppe',9.0,False,5,6]])

[0, 2, 9.0, 3, 4, 9.0, 5, 6]

In [ ]:
#variable length arguments
def fun(**args):
  return args

fun(a=10,b=20,c=30)

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
def sum_agumements(*args):
  s = 0
  for i in args:
    s = s+i
  return s

sum_agumements(1,2,3,4,5,6,7,8,9)

45

In [ ]:
#defualt arguments with variable lenth args
def fun_test(*args,a):
  return args,a

fun_test(1,2,3,4,5,a=10)

((1, 2, 3, 4, 5), 10)

In [ ]:
#variable arguments - takes any no.of arguments
#positional arguments - fixed arguments

def demo(*args,b):
  return args,b

demo(b=10)

((), 10)

In [ ]:
#write a function can take any no.of values and returns the list
def return_list(*args):
  l = []
  for i in args:
    l.append(i)
  return l

return_list(1,2,3,4,5,6,7,8,9)

[1, 2.3, True, 0.9, 'Shivanand']

In [104]:
#python namespace
def greet():
  message = "Hello welcome to python!:) " ##message var is local variable and outside the function cant be accessed, scope is within the function only.
  print(message)

greet()

Hello welcome to python!:)

In [105]:
print(message)

NameError: name 'message' is not defined

In [112]:
# variable is defined outside the function so can be accessed outside the function.

subpart = "Generative AI !"
def greet():
  message = "Hello welcome to python " + subpart
  print(message)

greet()

Hello welcome to python Generative AI !

In [111]:
print(subpart)

Generative AI !

In [ ]:
#namespace - scope of variable
#local variable - a function is defined inside a function should be accessed in the function
#global variable - accessed any where